<div class="container">
  <div class="recent update">
    <div class="section-title">
      <h2>Recent Update</h2>
    </div>
    <div class="movie-box">
      <div class="movie-item">
        <h3>Bang</h3>
        <p>Bouh</p>
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="recent update">
    <div class="section-title">
      <h2>Recent Update</h2>
    </div>
    <div class="movie-box">
      <div class="movie-item">
        <h3>Bang</h3>
        <p>Bouh</p>
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="recent update">
    <div class="section-title">
      <h2>Recent Update</h2>
    </div>
    <div class="movie-box">
      <div class="movie-item">
        <h3>Bang</h3>
        <p>Bouh</p>
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
